span {
    margin: 3px 0;
}

div {
    display: flex;
}

.with-icon {
    margin-left: 3px;
}

.card {
    padding: 20px;
    min-height: 140px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid gray;
    border-width: 0 0 2px 2px;
}

.pic {
    min-width: 210px;
    justify-content: center;
    align-items: center;
}

.title {
    flex-direction: column;
    justify-content: center;
}

.details {
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.download {
    min-width: 170px;
    justify-content: center;
    align-items: center;
}